{% extends "base_generica.html" %}

{% block title %}
<title>Reiniciar contraseña</title>
{% endblock %}

{% block content %}
<section class="content">
    <form action="" method="POST">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
        <input type="submit" class="btn btn-default btn-lg" value="Reiniciar contraseña"/>
    </form>
</section>
{% endblock %}