{% extends "base_generica.html" %}

{% block title %}
<title>Outdoor Experience</title>
{% endblock %}

{% block content %}
<section class="slider">
    <div class="container">
        <div class="slides fade">
            <img src="" style="width: 100%;">
            <div class="text-slide"><h1>OUTDOOR EXPERIENCE</h1></div>
        </div>
        <div class="slides fade">
            <img src="" style="width: 100%;">
            <div class="text-slides"><h1>OUTDOOR EXPERIENCE</h1></div>
        </div>
    </div>
</section>
<section class="description row">
    <div classs="actividades col-2">
        <h1>Deporte al aire libre</h1>
        <p>Organizamos todo tipo de actividades al aire libre. Las mejores actividades para desconectar del dia a dia</p>
    </div>
    <div class="equipo col-2">
        <h1>Equipo experimentado</h1>
        <p>Contamos con un equipo preparado y con gran experiencia</p>
    </div>
</section>
<section class="guias">
    <div class="guias">
        <h1>Conoce a nuestros expertos</h1>
    </div>
</section>
{% endblock %}
