{% extends "base_generica.html" %}

{% block title %}
<title>Actividad - {{actividad.titulo}}</title>
{% endblock %}

{% block content %}
<section class="content">
    <section class="actividad">
        <div class="header-actividad">
            <div class="titulo"><span><h2>{{actividad.titulo}}</h2></span></div>
            <div class="fechaSalida"><span><h2>{{actividad.fechaSalida}}</h2></span></div>
            <div class="fechaRecogida"><span><h2>{{ actividad.fechaRecogida }}</h2></span></div>
            <div class="duracion"><span><h2>Duración: {{ actividad.duracion }}</h2></span></div>
            <div class="precio"><span><h2>{{ actividad.precio }}€</h2></span></div>
        </div>
        <div class="body-actividad">
            {% if actividad.modalidad == 'Senderismo' %}
            <div class="modalidad"><img src="/media/images/icons/senderismo.jpg"></div>
            {% else %}
            <div class="modalidad"><img src="/media/images/icons/ciclismo.png"></div>
            {% endif %}
            {% if actividad.nivel == 'A' %}
            <div class="nivel"><img src="/media/images/icons/a.png"></div>
            {% elif actividad.nivel == 'B' %}
            <div class="nivel"><img src="/media/images/icons/b.png"></div>
            {% else %}
            <div class="nivel"><img src="/media/images/icons/b.png" alt="c"></div>
            {% endif %}
            <div class="img"><img src="{{ actividad.imagen.url }}" alt="{{ actividad.titulo }}"></div>
        </div>
        <div class="descripcion"><p>{{actividad.descripcion}}</p></div>
    </section>
</section>
{% endblock %}