{% extends "base_generica.html" %}

{% block title %}
<title>Guias</title>
{% endblock %}

{% block content %}
{% if guia_list %}
    <section class="content">
        <div class="grid-container-guias">
            {% for guia in guia_list %}
            <article class="guia">
                <div class="fila-guia">
                    <div class="img-guia">
                        <a href="{{ guia.get_absolute_url }}"><img src="{{ guia.avatar.url }}"></a>
                    </div>
                    <div class="datos-guia">
                        <a href="{{ guia.get_absolute_url }}">{{guia.nombre}}</a>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
{% else %}
<p>No existe ningún guia registrado</p>
{% endif %}
{% endblock %}